.square {
  border: 4px solid #6574e6;
  border-radius: 2px;
  font-family: Helvetica;
  font-weight: bold;
  font-size: 8em;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2px;
}
